<body>
    <header>
        <div class="container">
            <div id="branding">
                <a id="logo" href="/"><h1><span class="highlight">Cinema</span>Town</h1></a>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="current"><a href="/about">About</a></li>
                    <li><a href="/movies">Movies</a></li>
                    <li><a href="/prices">Prices</a></li>
                    <li><a href="/snacks">Snacks</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="showcase">
        <div class="container">
            <h1>Best Cinema in Your Town</h1>
        </div>
    </section>

    <section id="newsletter">
        <div class="container">
            <h1>Subscribe To Our Newsletter</h1>
            <form>
                <input type="email" placeholder="Enter email">
                <button type="submit" class="button_1">Subscribe</button>
            </form>
        </div>
    </section>

    <section id="main">
        <div class="container">
            <article id="main-col">
                <h1 class="apge-title">About Us</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis libero non nisl commodo mollis nec ut nisl. Fusce sollicitudin suscipit libero eget rutrum. Etiam eleifend tincidunt velit nec mattis. Quisque ac sem et ante ultrices auctor. Morbi vestibulum elementum neque, elementum vestibulum velit varius porta. Suspendisse suscipit tincidunt iaculis. Mauris quis libero sit amet purus fringilla elementum mattis a urna. Sed at justo cursus, venenatis ante quis, finibus quam. Sed a pharetra neque. Proin malesuada sed ante ut dictum. Vestibulum lacinia sodales ipsum, malesuada dictum ipsum porttitor nec. Nunc erat tortor, euismod aliquet interdum a, vulputate at leo. Ut tempor quis dui eu tempor. Nam viverra erat non mauris gravida efficitur. Fusce cursus nisl nec sodales condimentum.
                </p>
                <p>
                    Aliquam eleifend diam ipsum, id scelerisque mauris posuere non. Nam blandit at dolor et sollicitudin. Curabitur eget nunc sit amet risus fermentum hendrerit at ac turpis. Donec eu ornare neque. Proin sed lorem eros. Suspendisse pellentesque justo ut sapien tristique tincidunt. Integer tristique diam eget consectetur commodo. Fusce eu lectus eu mi viverra volutpat ac quis dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas lorem id dolor egestas, non efficitur erat gravida. Suspendisse interdum rutrum nisi, in cursus nisi. Donec maximus metus ac scelerisque gravida. Fusce id faucibus est. Vestibulum finibus enim sed posuere auctor.
                </p>        
                <p>
                    In volutpat consectetur augue ut porttitor. Morbi et sagittis velit. Sed ornare sapien interdum, consequat quam ut, mollis justo. Nam vulputate et felis sit amet dignissim. Nulla vestibulum ac augue eu ornare. Quisque nec bibendum elit. In id dapibus neque, non ornare ex. Maecenas semper, justo a pharetra aliquam, odio lorem commodo turpis, eu congue massa odio ut ex. Aliquam erat volutpat. Cras nibh lorem, vulputate ac maximus non, blandit vel ante. Curabitur bibendum vitae justo eget egestas. Proin nec eros efficitur, aliquet est eget, consectetur mi. Cras auctor eros blandit vehicula posuere.
                </p>
            </article>
            
            <aside id="sidebar">
                <div class="dark">
                    <h3>Contact Us</h3>
                    <form class="quote">
                        <div>
                            <label>Name</label><br>
                            <input type="text" placeholder="Name">
                        </div>
                        <div>
                            <label>Email</label><br>
                            <input type="email" placeholder="Email Address">
                        </div>
                        <div>
                            <label>Message</label><br>
                            <input type="text" placeholder="Message">
                        </div>  
                        <button class="button_1" type="submit">Send</button>  
                    </form>
                </div>
            </aside>
        </div>
    </section>

    <footer>
        <p>CinemaTown, Copyright &copy; 2020</p>
    </footer>
</body>