<body>
    <header>
        <div class="container">
            <div id="branding">
                <a id="logo" href="/"><h1><span class="highlight">Cinema</span>Town</h1></a>
            </div>
            <nav>
                <ul>
                    <li class="current"><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/movies">Movies</a></li>
                    <li><a href="/prices">Prices</a></li>
                    <li><a href="/snacks">Snacks</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="showcase">
        <div class="container">
            <h1>Best Cinema in Your Town</h1>
        </div>
    </section>

    <section id="newsletter">
        <div class="container">
            <h1>Subscribe To Our Newsletter</h1>
            <form>
                <input type="email" placeholder="Enter email">
                <button type="submit" class="button_1">Subscribe</button>
            </form>
        </div>
    </section>

    <section id="boxes">
        <div class="container">
            <div class="box">
                <img src="/img/home/cinematography.jpg" alt="">
                <h3>Latest Movies</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis libero non nisl commodo mollis nec ut nisl.</p>
            </div>
            <div class="box">
                <img src="/img/home/dollar.png" alt="">
                <h3>Lowest Prices</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis libero non nisl commodo mollis nec ut nisl.</p>
            </div>
            <div class="box">
                <img src="/img/home/popcorn.png" alt="">
                <h3>Snacks&amp;Drinks</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis libero non nisl commodo mollis nec ut nisl.</p>
            </div>
        </div>
    </section>

    <footer>
        <p>CinemaTown, Copyright &copy; 2020</p>
    </footer>

</body>