<body>
    <header>
        <div class="container">
            <div id="branding">
                <a id="logo" href="/"><h1><span class="highlight">Cinema</span>Town</h1></a>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/movies">Movies</a></li>
                    <li><a href="/prices">Prices</a></li>
                    <li class="current"><a href="/snacks">Snacks</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="showcasesnacks">
        <div class="container"></div>
    </section>

    <section id="newsletter">
        <div class="container">
            <h1>Subscribe To Our Newsletter</h1>
            <form>
                <input type="email" placeholder="Enter email">
                <button type="submit" class="button_1">Subscribe</button>
            </form>
        </div>
    </section>

    <section id="main">
        <div class="container">
            <article id="main-col">
                <h1 class="page-title">Snacks&amp;Drinks</h1>
                <ul id="services">
                    <li>
                        <h3>
                            Popcorn
                        </h3>
                        <p>Pricing: $5/Small&nbsp;&nbsp;&nbsp;&nbsp;$7.5/Medium&nbsp;&nbsp;&nbsp;&nbsp;$10/Large</p>
                    </li>
                    <li>
                        <h3>
                            Nachos (chilli&amp;chedar)
                        </h3>
                        <p>Pricing: $7/Small&nbsp;&nbsp;&nbsp;&nbsp;$9.5/Medium&nbsp;&nbsp;&nbsp;&nbsp;$12/Large</p>
                    </li>
                    <li>
                        <h3>
                            Children's menu
                        </h3>
                        <p>Pricing: $4/Small&nbsp;&nbsp;&nbsp;&nbsp;$6/Medium&nbsp;&nbsp;&nbsp;&nbsp;$8/Large</p>
                    </li>
                    <li>
                        <h3>
                            Sodas (Coke/Fanta/Sprite)
                        </h3>
                        <p>Pricing: $2.5/330ml&nbsp;&nbsp;&nbsp;&nbsp;$3/400ml&nbsp;&nbsp;&nbsp;&nbsp;$3.5/500ml</p>
                    </li>
                    <li>
                        <h3>
                            Juices (400ml)
                        </h3>
                        <p>Pricing: $4/Orange&nbsp;&nbsp;&nbsp;&nbsp;$4/Apple&nbsp;&nbsp;&nbsp;&nbsp;$5/Cherry</p>
                    </li>
                </ul>
            
            </article>
        </div>
    </section>

    <footer>
        <p>CinemaTown, Copyright &copy; 2020</p>
    </footer>
</body>